/* ViewFormModal.style.css */

/* Overlay styling */
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
  }
  
  /* Modal container styling */
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    
 
  
  }
  
  /* Header styling */
  h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  /* Form details styling */
  .form-details {
    margin-top: 20px;
    font-size: 1em;
    color: #555;

  }
  
  .form-details p {
    margin-bottom: 10px;
  }
  
  .form-details strong {
    color: #333;
  }

  
  .form-details img {
    
    width: 400px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
  /* Close button styling */
  .close-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }
  